name: Build and Release Extension Charts

on:
  workflow_dispatch:
    inputs:
      tagged_release:
        description: 'Release tag (e.g., my-first-extension-1.0.1)'
        required: true
        default: 'my-first-extension-1.0.1'
  release:
    types: [released]

defaults:
  run:
    shell: bash
    working-directory: ./

jobs:
  build-extension-charts:
    uses: rancher/dashboard/.github/workflows/build-extension-charts.yml@master
    permissions:
      actions: write
      contents: write
      deployments: write
      pages: write
    with:
      target_branch: gh-pages
      tagged_release: ${{ github.event.inputs.tagged_release || github.ref_name }}